
    <h2>Paciente:</h2>
<div class="card" style="border-radius: 15px;">
    <div class="card-body">
        <h3>{{paciente.nome}}</h3><hr>
        <p><b>Endereço</b>: {{paciente.endereco}}</p>
        <p><b>ID do cartão: </b>{{paciente.cartao}}</p>
        <p><b>Data de registro: </b>{{#FormData}}{{/FormData}}</p>
        <p><b>Data completa:</b> {{paciente.date}}</p>
        <p><b>ID do paciente: </b>{{paciente._id}}</p>
    </div>
</div>
